name = "screenshot"
main = "src/index.js"
compatibility_date = "2024-04-19"
compatibility_flags = ["nodejs_compat"]

# Browser Rendering API binding
browser = { binding = "MYBROWSER" }

# Binding to a Durable Object
[[durable_objects.bindings]]
name = "BROWSER"
class_name = "Browser"

[[migrations]]
tag = "v1" # Should be unique for each entry
new_classes = ["Browser"] # Array of new classes
