name = "screenshot"
main = "src/index.js"
compatibility_date = "2024-04-19"
compatibility_flags = ["nodejs_compat"]

# Browser Rendering API binding
browser = { binding = "MYBROWSER" }

# Binding to a Durable Object
[[durable_objects.bindings]]
name = "BROWSER"
class_name = "Browser"

[[migrations]]
tag = "v1" # Should be unique for each entry
new_classes = ["Browser"] # Array of new classes

[observability]
enabled = true

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
