name = "screenshot"
main = "src/index.js"
browser = { binding = "MYBROWSER" }
compatibility_date = "2024-04-19"
compatibility_flags = ["nodejs_compat"]

[[durable_objects.bindings]]
name = "BROWSER"
class_name = "Browser"

[[migrations]]
tag = "v1"
new_classes = ["Browser"]

[[r2_buckets]]
binding = "SCREENSHOTS"
bucket_name = "screenshots"

[observability]
enabled = true

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
